.core {
  display: flex;
  background: black;
  width: 100vw;
  min-height: calc(100vh - 70px);
}
.gcont {
  background: black;
  padding-top: 70px;
}
.sld {
  width: 100px;
}
.slideBtn {
  background: rgba(255, 255, 255, 0.75);
  color: black;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 25px;
  border-radius: 50%;
  font-family: var(--font-text);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.25s;
}
.slideBtn:hover {
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
.centerCore {
  flex-grow: 1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.imageTitle {
  color: var(--w-5);
  font-size: 3em;
}
.imageCover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}
.imageCover:hover {
  opacity: 0;
}
.imageDesc {
  color: var(--w-5);
  width: 80vw;
  font-size: 18px;
  margin: 30px 0;
  line-height: 30px;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-weight: 300;
  letter-spacing: 0.01em;
}
.imageStats {
  color: white;
  font-size: 25px;
}
.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  min-height: 50px;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 50px;
  display: flex;
  align-content: center;
  align-items: center;
}
.dot {
  width: 15px;
  height: 15px;
  background: transparent;
  border: solid white 2.5px;
  border-radius: 10px;
  margin: 10px;
  transition: 0.25s;
}
.dot:hover {
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.dotSelected {
  background: white;
}
.centerCover {
  padding: 20px;
  position: relative;
  top: 50%;
  transform: translatey(-50%);
  max-width: 600px;
  margin: 0 auto;
}
.mag {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid rgba(255, 255, 255, 0.5) 2px;
}
.sorter{
  background: transparent;
  color: white;
  font-size: 20px;
  font-family: var(--font-text);
  border: none;
  outline:none;
  box-shadow: 0 2px 0 0 white;
}
.sorter:hover{
  cursor: pointer;
}

@media (max-width: 375px) {
  .core {
    min-height: calc(100vh - 40px);
  }
  .gcont {
    padding-top: 40px;
  }
}
