.blockDesc{
  display: flex;
}
.blockDesc{
  max-width: 40vw;
  align-self: center;
  justify-self: center;
}
.contFlex {
  position: relative;
  top: 50vh;
  transform: translatey(-50%);
  margin-left: 10vw;
  max-width: 80vw;
  display: flex;
}
.blockPortrait{
  flex-grow: 1;
  align-self: center;
  justify-self: center;
}
.portrait {
  height: 70vh;
  max-height: 800px;
  margin: auto;
  box-shadow: 15px 25px 20px 0 rgba(0,0,0,0.2);
}
.stretchSVG{
  width: 100vw;
  height: 100vh;
}
.slantSec{
  filter: drop-shadow(0 -30px 15px rgba(0,0,0,0.1));
}
.parallax{
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: calc(100vh - 70px);
}
.parCont > h1, .galleryLink{
  font-family: var(--font-title);
  color: white;
  text-align: center;
  font-size: 4em;
  padding-top: 30px;
  text-shadow: 0 5px 10px rgba(0,0,0,0.4);
}
.slantEnd{
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  width: 100vw;
  max-height: 100px;
  background: var(--w-5);
  height: 10vh;
  margin-top: 50px;
}

@media (max-width: 1000px) {
  .headBlock {
    max-width: 60vw;
  }
}
@media(max-width: 800px){
  .blockPortrait{
    display: none;
  }
  .blockDesc{
    max-width: 80vw;
  }
  .titleHeader{
    text-align: center !important;
  }
}
@media (max-width: 675px) {
  .titleHeader {
    max-width: 80vw !important;
  }
}
@media (max-width: 500px) {
  .titleHeader {
    font-size: 3em !important;
  }
}