.nav{
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 5px 30px 0 rgba(0,0,0,0.1);
  display: flex;
}
.bigLink{
  font-family: var(--font-title);
  font-size: 30px;
  padding: 0 10px;
  align-self: center;
  justify-self: center;
  text-align: center;
}
.linkGroup{
  flex-grow: 1;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
}
.link{
  font-size: 18px;
  font-weight: 300;
  width: 30%;
  display: inline-block;
  align-self: center;
}

@media(max-width: 525px){
  .link{
    width: 50%;
  }
}
@media(max-width: 375px){
  .bigLink{
    font-size: 25px;
  }
  .link{
    font-size: 15px;
  }
  .nav{
    height: 40px;
  }
}
@media(max-width: 300px){
  .link{
    font-size: 13px;
  }
  .bigLink{
    font-size: 22px;
  }
}