@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
:root {
  --font-title: "Vujahday Script", "Savoye LET", "cursive";
  --font-text: "Open Sans", "Avenir Book", sans-serif;
  --y-bright: rgb(255, 221, 128);
  --y-light: rgb(237, 202, 107);
  --y-med: rgb(227, 182, 87);
  --y-dim: rgb(207, 162, 67);
  --y-pale: rgb(237, 219, 171);

  --w-5: rgb(255, 255, 255);
  --w-4: rgb(250, 250, 250);
  --w-3: rgb(240, 240, 240);
  --w-2: rgb(230, 230, 230);
  --w-1: rgb(200, 200, 200);

  --g-bright: rgb(120, 120, 120);
  --g-med: rgb(100, 100, 100);
  --g-dim: rgb(75, 75, 75);
  --g-dark: rgb(40, 40, 40);

  --bk: rgb(0, 0, 0);
  --nav-height: 0px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-text);
  font-weight: 200;
  background: var(--w-5);
  overflow-x: hidden;
}

[href]:hover{
  cursor: pointer !important;
}

p{
  max-width: 700px;
  width: 80%;
  font-size: 18px;
  margin: 20px auto;
  line-height: 30px;
  color: var(--g-med);
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-weight: 300;
  letter-spacing: 0.01em;
}
hr{
  border: none;
  border-bottom: solid var(--w-3) 1px;
  max-width: 700px;
  width: 80vw;
  margin: 30px auto;
}
.swal2-popup{
  max-width: 700px !important;
  max-height: calc(100vh - 20px) !important;
}
.swal2-container{
  max-height: 100vh !important;
  overflow-y: auto !important;
}
.swal2-html-container{
  padding: 0 25px !important;
  border-right: solid 20px transparent;
  padding-right: 15px !important;
  overflow-x: hidden !important;
}
@media(max-width: 600px){
  .swal2-html-container{
    padding: 0 0px !important;
    margin: 10px !important;
    border-right: solid 35px transparent;
    padding-right: 0px !important;
    overflow-x: hidden !important;
  }
}
button{
  outline:none !important;
}

.swal2-html-container::-webkit-scrollbar{
  width: 5px;
}
.swal2-html-container::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.swal2-html-container::-webkit-scrollbar-thumb {
  background: #888; 
}
.swal2-html-container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}