.button{
  background: var(--y-dim);
  color: var(--w-5);
  padding: 15px;
  border-radius: 5px;
  margin: 25px auto;
  text-align: center;
  max-width: 300px;
  font-size: 20px;
  font-weight: 400;
  box-shadow: inset 0 0 0 0 var(--y-dark);
  transition: 0.25s;
  border: none;
  font-family: var(--font-text);
  display: block;
  width: 80%;
}
.button:hover{
  box-shadow: inset 300px 0 0 0 rgba(0,0,0,0.1);
  cursor: pointer;
}

.input{
  background: var(--w-5);
  border: solid var(--w-2) 1px;
  padding: 15px;
  border-radius: 5px;
  font-family: var(--font-text);
  outline: none;
  width: 80%;
  display: block;
  margin: 0 auto;
  max-width: 400px;
  transition: 0.1s;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
}
.inputSmall{
  background: var(--w-5);
  border: solid var(--w-2) 1px;
  padding: 7.5px;
  border-radius: 5px;
  font-family: var(--font-text);
  outline: none;
  display: block;
  margin: 0 auto;
  transition: 0.1s;
  font-size: 13px;
  width: 100%;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
}
.input:focus, .inputSmall:focus{
  border: solid rgb(50, 150, 255) 1px;
  box-shadow: 0 0 0 3px rgba(50, 150, 255, 0.5);
}
.input::placeholder, .inputSmall::placeholder{
  color: var(--w-1);
}

.submit{
  background: var(--y-dim);
  color: var(--w-5);
  padding: 7.5px;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  box-shadow: inset 0 0 0 0 rgba(0,0,0,0.1);
  transition: 0.25s;
  border: none;
  font-family: var(--font-text);
  display: block;
  outline: none;
  width: 100%;
}
.submit:hover{
  box-shadow: inset 500px 0 0 0 rgba(0,0,0,0.1);
  cursor: pointer;
}

.form{
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
  border: solid var(--w-3) 1px;
  margin: 10px auto;
  max-width: 500px;
}

.formLabel{
  color: var(--g-bright);
  font-size: 14px;
  font-family: var(--font-text);
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 400;
}
.formHeader{
  font-size: 1.5em;
  color: var(--g-med);
}